[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
requests = "*"
redis = "*"
boto3 = "*"
pyosm = "*"
pybloom = {git = "https://github.com/jaybaird/python-bloomfilter.git",ref = "2bbe01ad"}

[requires]
python_full_version = "3.7.6"
